<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.bxm.running.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="at.bxm.running.gui.Perspective"
            id="at.bxm.running.gui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.bxm.running.gui.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.bxm.running.gui.commands.ExitHandler"
            id="running-gui.commands.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="at.bxm.running.gui.commands.OpenFileHandler"
            id="at.bxm.running.gui.commands.openFile"
            name="Open">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="running-gui.commands.exit"
                  style="push">
            </command>
            <command
                  commandId="at.bxm.running.gui.commands.openFile"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.bxm.running.gui.views.MyView"
            id="at.bxm.running.gui.views.MyView"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="at.bxm.running.gui.views.MyView"
               minimized="false"
               ratio="0.95f"
               relationship="top"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
